page-welcome {
    
  background: url('../assets/imgs/wallpaper_0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  .welcome{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .welcome .buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .welcome .buttons .btn{
    margin-bottom: 3em;
    font-size: 1.7rem;
    height: 5rem;
    flex-basis: 60%;
  }

}
