page-signup {
  ion-content{
    background: url('../assets/imgs/wallpaper_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }

  .toolbar .toolbar-background {
    background: transparent;
  }

  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  form button.btn{
    margin-top: 3em;
    width: 60%;
  }
}
