.capitalize{
  text-transform: capitalize;
}


ion-item.transparent{
  background-color: transparent;
}

button.btn{
  background-color: #353639;
}

ion-item.item-input ion-label.label{
  color: #FFF;
}
.item-input-has-focus .label{
  color: #332f2e !important;
}
.item.item-input.item-input-has-focus .item-inner{
  border-bottom-color: #686564 !important;
  box-shadow: inset 0 -1px 0 0 #686564 !important;
  -webkit-box-shadow: inset 0 -1px 0 0 #686564 !important;
}
